<div class="settings-container">
  <div class="header">
    <h2>Personalización de la aplicación</h2>
    <p>Selecciona y aplica el tema visual del sistema</p>
  </div>

  <div class="section">
    <h3>Tema visual</h3>
    <div class="themes-grid">

      <!-- NEUTRO -->
      <div class="theme-card" [class.active]="isActive('default')" (click)="setTheme('default')">
        <div class="preview default"></div>
        <div class="theme-info">
          <h4>Neutro</h4>
          <span>Estilo limpio</span>
        </div>
        <button>Aplicar</button>
      </div>

      <!-- OSCURO -->
      <div class="theme-card" [class.active]="isActive('dark')" (click)="setTheme('dark')">
        <div class="preview dark"></div>
        <div class="theme-info">
          <h4>Oscuro</h4>
          <span>Modo nocturno</span>
        </div>
        <button>Aplicar</button>
      </div>

     <!-- FEMENINO -->
<div class="theme-card" [class.active]="isActive('femenino')" (click)="setTheme('femenino')">
  <div class="preview femenino"></div>

  <div class="theme-info">
    <h4>Femenino</h4>
    <span>Elegante / spa / suave</span>
  </div>

  <button>Aplicar</button>
</div>

    </div>
  </div>
</div>