<div class="contenedor-servicios">

  <!-- FORMULARIO -->
  <div class="form-card">
    <div class="form-header">
      <h2>{{ editing ? 'Editar servicio' : 'Nuevo servicio' }}</h2>
      <span class="sub">Completa la información</span>
    </div>

    <form (ngSubmit)="guardarServicio()" class="form-grid">

      <div class="input-group">
        <label>Nombre</label>
        <input
          type="text"
          placeholder="Ej: Corte de cabello"
          name="name"
          [(ngModel)]="servicio.name"
        >
      </div>

      <div class="input-group">
        <label>Precio</label>
        <input
          type="number"
          placeholder="$"
          name="price"
          [(ngModel)]="servicio.price"
        >
      </div>

      <div class="input-group">
        <label>Duración (minutos)</label>
        <input
          type="number"
          placeholder="Ej: 30"
          name="durationMinutes"
          [(ngModel)]="servicio.durationMinutes"
        >
      </div>

      <div class="input-group full">
        <label>Descripción</label>
        <textarea
          name="description"
          placeholder="Describe el servicio..."
          [(ngModel)]="servicio.description"
        ></textarea>
      </div>

      <div class="form-actions">
        <button class="btn-save" type="submit">
          {{ editing ? 'Actualizar servicio' : 'Guardar servicio' }}
        </button>
        <button
          class="btn-cancel"
          type="button"
          *ngIf="editing"
          (click)="cancelarEdicion()"
        >
          Cancelar
        </button>
      </div>
    </form>
    <p class="mensaje">{{ mensaje }}</p>
  </div>

  <!-- BÚSQUEDA -->
  <div class="form-card search-card">
    <div class="input-group full">
      <label>Buscar servicio</label>

      <div class="search-input">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Escribe el nombre del servicio">
      </div>

    </div>
  </div>

  <!-- LISTADO -->
  <div class="cards">
    <div class="card" *ngFor="let servicioItem of servicios">
      <div class="card-header">
        <h3>{{ servicioItem.name }}</h3>
        <span class="precio">${{ servicioItem.price }}</span>
      </div>

      <div class="card-body">
        <p class="duracion">{{ servicioItem.durationMinutes }} minutos</p>
        <p class="descripcion">{{ servicioItem.description }}</p>
      </div>

      <div class="acciones">
        <button class="btn-icon editar" type="button" (click)="editarServicio(servicioItem)">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn-icon eliminar" type="button" (click)="eliminarServicio(servicioItem.id, servicioItem.name)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>

    <div *ngIf="servicios.length === 0" class="empty-state">
      <p>No hay servicios disponibles.</p>
    </div>
  </div>

</div>