<div class="home">

  <div class="card">

    <div class="brand">
      <h1>Glam<span>Gest</span></h1>
    </div>

    <p class="frase">
      Organiza, gestiona y crece sin complicaciones.
    </p>

    <div class="acciones">

      <button routerLink="/login" class="btn primary">
        <lucide-icon [img]="icons.logIn"></lucide-icon>
        <span>Iniciar sesión</span>
      </button>

      <button routerLink="/users" class="btn secondary">
        <lucide-icon [img]="icons.userPlus"></lucide-icon>
        <span>Crear cuenta</span>
      </button>

    </div>

  </div>

</div>