<div class="page">

  <div class="login-container">

    <!-- TOP BAR -->
    <div class="top-bar">
      <button routerLink="/home" class="btn-back">
        <lucide-icon [img]="ArrowLeft"></lucide-icon>
        <span>Volver</span>
      </button>
    </div>

    <!-- HEADER -->
    <h2 class="titulo">Glam<span>Gest</span></h2>
    <p class="subtitulo">Inicia sesión</p>

    <form (ngSubmit)="login()">
      
      <div class="input-group">
        <label>Correo electrónico</label>
        <input 
          type="email" 
          [(ngModel)]="usuario.email" 
          name="email" 
          placeholder="Tu correo electrónico">
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input 
          type="password" 
          [(ngModel)]="usuario.password" 
          name="password" 
          placeholder="Contraseña">
      </div>

      <button type="submit">Ingresar</button>
    </form>

    <p class="mensaje">{{ mensaje }}</p>

  </div>

</div>