<div class="page">
  <div class="login-container">
    <h2 class="titulo">GlamGest</h2>
    <p class="subtitulo">Inicia sesión</p>

    <form (ngSubmit)="login()">
      
      <div class="input-group">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Tu nombre">
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="usuario.password" name="password" placeholder="Contraseña">
      </div>

      <div class="input-group">
        <label>Tipo de usuario</label>
        <select [(ngModel)]="usuario.tipo" name="tipo">
          <option value="" disabled selected>Selecciona tipo</option>
          <option value="admin">Administrador</option>
          <option value="recepcionista">Recepcionista</option>
        </select>
      </div>

      <button type="submit">Ingresar</button>
    </form>

    <p class="mensaje">{{ mensaje }}</p>
  </div>
</div>